/*
* ********** *
* Miscelánea *
* ********** *
*/

:root {
  /* fuente primaria */
  --delft-blue: #1b304fff;

  /* fondo */
  --columbia-blue: #d3e5f3ff;

  /* resalte primario */
  --lapis-lazuli: #27689eff;

  /* logo */
  --air-superiority-blue: #68a0c5ff;

  /* resalte secundario */
  --gold-metallic: #d2b02aff;

  /* sombras */
  --sombra: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);

  /* bordes */
  --borde: 0.5em;

  /* fueguito */
  --fire: 🔥;
}

/*
* ******************** *
* Estilos del producto *
* ******************** *
*/

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1em;
  height: 100vh;

  background-color: var(--columbia-blue);
  padding: 0.5em;
}

.fix {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--columbia-blue);
  width: 100%;
  gap: 0.75em;
}

header {
  width: 100%;
  background-color: white;
  box-shadow: var(--sombra);
  border-radius: var(--borde);

  nav {
    width: 100%;
  }
}

aside.ofertas-weekend {
  background-color: var(--lapis-lazuli);
  border-radius: calc(var(--borde) / 2);
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
  padding: .5em 0;
  box-shadow: var(--sombra);

  /* sinó reasignas aqui, se rompe el aside por la derecha */
  width: 100%;
}

main {
  display: grid;
  justify-items: center;
  grid-template-areas:
    'section'
    'newsletter';
  gap: 1em;

  section {
    grid-area: section;
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    gap: 1.5em;
    padding: 1em;

    background: white;
    border-radius: 0.5em;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);

    .formulario *:not(input#enviar, button#cancelar, a#link-cancelar, input#tos, label#tos-label, div#terms) {
      height: 2.5em;
      width: 100%;
      padding: .5em;
      border: 1px solid rgba(0, 0, 0, 0.524);
      border-radius: .5em;
    }

    .formulario {
      display: grid;
      grid-template-areas:
        'nombre nombre'
        'apellidos apellidos'
        'genero genero'
        'email email'
        'descripcion descripcion'
        'terms terms'
        'cancelar enviar';
      gap: .75em;

      input#nombre {
        grid-area: nombre;
      }

      input#apellidos {
        grid-area: apellidos;
      }

      select#genero {
        grid-area: genero;
      }

      input#email {
        grid-area: email;
      }

      textarea#descripcion {
        grid-area: descripcion;
        height: 8em;
      }

      div#terms {
        grid-area: terms;
        padding-left: .5em;

        input#tos {
          grid-area: tos;
        }

        label#tos-label {
          grid-area: tos-label;
        }
      }

      a#cancelar {
        grid-area: cancelar;
        text-decoration: none;
        color: black;
      }

      input#enviar {
        grid-area: enviar;
        border: none;
        background: none;
      }

      a {
        text-decoration: none;
        color: white;
      }

      button#cancelar,
      input#enviar {
        display: block;
        color: white;
        font-size: 1.5em;
        height: 2.5em;
        border: none;
        border-radius: var(--borde);
        background: var(--lapis-lazuli);
        transition: transform 0.25s ease-in-out;
      }

      button#cancelar:hover,
      input#enviar:hover {
        transform: scale(0.95);
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }
    }
  }

  .newsletter {
    grid-area: newsletter;
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    gap: 1.5em;
    padding: 1em;

    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
    background: url(../img/stock/blurred-background.png);
    background-size: cover;

    border-radius: 0.5em;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);

    input#newsletter {
      height: 2.5em;
      padding: .5em;
      border: 1px solid rgba(0, 0, 0, 0.524);
      border-radius: .5em;
    }

    input#submit-newsletter {
      color: white;
      background-color: var(--lapis-lazuli);
      height: 2.5em;
      padding: .5em;
      border: none;
      border-radius: .5em;
      transition: transform 0.25s ease-in-out;
    }

    input#submit-newsletter:hover {
      transform: scale(0.95);
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    div.textos-newsletter {
      color: black;
      background: white;
      opacity: 60%;
      box-shadow: none;
      border-radius: 0.5em;
      padding: .5em;
    }
  }
}

footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-radius: var(--borde);
  background-color: white;
  box-shadow: var(--sombra);

  .metodos-pago {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
    padding-top: 1em;
  }

  .copyright {
    padding: 0 1em 1em;
    padding-bottom: 1em;
  }
}


/*
* ******************** *
* Dispositivos grandes *
*   Mayores que 768px  *
* ******************** *
*/

@media screen and (min-width: 768px) {

  body {
    width: 100%;
    gap: 0.75em;
    padding: 0;
  }

  header,
  aside.ofertas-weekend,
  footer {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  header {
    nav {
      div.menu-icon {
        display: none;
      }

      ul.menu {
        display: flex;
        flex-flow: row nowrap;
        position: relative;

        border-radius: 0;
        box-shadow: none;

      }
    }
  }

  main {
    /* display: grid;
    justify-items: center;
    grid-template-areas:
      'section'
      'newsletter';*/
    gap: 2em;

    section {
      display: flex;
      flex-flow: column nowrap;
      width: 60%;
      gap: 1.5em;
      padding: 1em;

      h2.titulo {
        font-size: 2em;
      }

      .formulario *:not(input#enviar, button#cancelar, a#link-cancelar, input#tos, label#tos-label, div#terms) {
        height: 2.5em;
        width: 100%;
        padding: 1em;
      }

      .formulario {
        grid-template-areas:
          'nombre apellidos'
          'genero email'
          'descripcion descripcion'
          'terms terms'
          'cancelar enviar';

        textarea#descripcion {
          height: 10em;
        }

        button#cancelar,
        input#enviar {
          font-size: 1.5em;
          height: 2.5em;
        }
      }
    }

    .newsletter {
      flex-flow: column nowrap;
      width: 60%;
      gap: 1.5em;
      padding: 1em;
    }
  }
}