/*
* *************** *
* Estilos comunes *
* *************** *
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


/*
* ********** *
* Miscelánea *
* ********** *
*/

:root {
  /* fuente primaria */
  --delft-blue: #1b304fff;

  /* fondo */
  --columbia-blue: #d3e5f3ff;

  /* resalte primario */
  --lapis-lazuli: #27689eff;

  /* logo */
  --air-superiority-blue: #68a0c5ff;

  /* resalte secundario */
  --gold-metallic: #d2b02aff;

  /* sombras */
  --sombra: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);

  /* bordes */
  --borde: 0.5em;

  /* fueguito */
  --fire: 🔥;
}

/*
* ********** *
* Tipografía *
* ********** *
*/

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}


/*
* ********* *
* Keyframes *
* ********* *
*/

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*
* **** *
* Logo * 
* **** *
*/
nav {
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .slice {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;
  }

  .sl {
    color: #3498db;
  }

  .ice {
    position: relative;
    color: #2ab8ff;
  }

  .ice::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #3498db, #2ab8ff);
    transform: skew(-20deg);
  }

  .snowboard {
    font-size: 1.5em;
    color: #34495e;
    letter-spacing: 4px;
    margin-top: 5px;
  }
}


/*
* ***************** *
* Animación Marquee *
* ***************** *
*/

aside {
  &.ofertas-weekend {
    width: 100%;
    overflow: hidden;
  }

  .oferta {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
  }
}


/*
* ********************* *
* Animación Hamburguesa *
* ********************* *
*/

body {
  header {
    padding: 15px;
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;

    /* no está pagado lo que tardé en quitar el cursor de texto de la dichosa hamburguesa */
    -webkit-user-select: none;
    user-select: none;
  }

  .menu-icon span {
    width: 3em;
    height: 4px;
    background-color: black;
    margin: 5px 1em;
    transition: 0.4s ease-in-out;

    -webkit-user-select: none;
    user-select: none;
  }

  .menu {
    /* OJO cuando se clica pasa a ser flex */
    display: none;
    flex-direction: column;

    position: absolute;
    top: 100%;
    right: 3px;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    min-width: 300px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);

    animation: fadeIn 0.5s;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .menu li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    padding: 12px 16px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
  }

  .menu li a:hover {
    color: white;
    background-color: var(--lapis-lazuli);
  }


  /* Animación del icono hamburguesa */
  .menu-icon.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 10px);
  }

  .menu-icon.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active span:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -10px);
  }
}