/*
* *************** *
* Estilos comunes *
* *************** *
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*
* ********** *
* Miscel谩nea *
* ********** *
*/

:root {
  /* fuente primaria */
  --delft-blue: #1b304fff;

  /* fondo */
  --columbia-blue: #d3e5f3ff;

  /* resalte primario */
  --lapis-lazuli: #27689eff;

  /* logo */
  --air-superiority-blue: #68a0c5ff;

  /* resalte secundario */
  --gold-metallic: #d2b02aff;

  /* sombras */
  --sombra: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);

  /* bordes */
  --borde: 0.5em;

  /* fueguito */
  --fire: ;
}

/*
* ********** *
* Tipograf铆a *
* ********** *
*/

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

/*
* ********* *
* Keyframes *
* ********* *
*/

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*
* **** *
* Logo * 
* **** *
*/
nav {
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .slice {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1;
  }

  .sl {
    color: #3498db;
  }

  .ice {
    position: relative;
    color: #00aaff;
  }

  .ice::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #3498db, #00aaff);
    z-index: -1;
    transform: skew(-20deg);
  }

  .snowboard {
    font-size: 24px;
    color: #34495e;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 5px;
  }

  /* Estilos para el logo en modo oscuro */
  /* @media (prefers-color-scheme: dark) {
    .sl {
      color: #5dade2;
    }

    .ice {
      color: #7fccff;
    }

    .ice::after {
      background: linear-gradient(90deg, #5dade2, #7fccff);
    }

    .snowboard {
      color: #bdc3c7;
    }
  } */
}

/*
* ***************** *
* Animaci贸n Marquee *
* ***************** *
*/

aside {
  &.ofertas-weekend {
    width: 100%;
    overflow: hidden;
  }

  .oferta {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
  }
}

/*
* ********************* *
* Animaci贸n Hamburguesa *
* ********************* *
*/

body {
  header {
    padding: 15px;
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;

    /* no est谩 pagado lo que tard茅 en quitar el cursor de texto de la dichosa hamburguesa */
    -webkit-user-select: none;
    user-select: none;
  }

  .menu-icon span {
    width: 3em;
    height: 4px;
    background-color: black;
    margin: 5px 1em;
    transition: 0.4s ease-in-out;

    -webkit-user-select: none;
    user-select: none;
  }

  .menu {
    /* OJO cuando se clica pasa a ser flex */
    display: none;
    flex-direction: column;

    position: absolute;
    top: 100%;
    right: 3px;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    min-width: 300px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);

    animation: fadeIn 0.5s;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .menu li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    padding: 12px 16px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
  }

  .menu li a:hover {
    color: white;
    background-color: var(--lapis-lazuli);
  }


  /* Animaci贸n del icono hamburguesa */
  .menu-icon.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 10px);
  }

  .menu-icon.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active span:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -10px);
  }
}


/*
* ***************** *
* Estilos Gen茅ricos *
* ***************** *
*/

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100vh;

  background-color: var(--columbia-blue);
  padding: 0.5em;
}

.fix {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--columbia-blue);
  width: 100%;
  gap: 0.75em;
}

header {
  width: 100%;
  background-color: white;
  box-shadow: var(--sombra);
  border-radius: var(--borde);

  nav {
    width: 100%;
  }
}

aside.ofertas-weekend {
  background-color: var(--lapis-lazuli);
  border-radius: calc(var(--borde) / 2);
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
  padding: .5em 0;
  box-shadow: var(--sombra);

  /* sin贸 reasignas aqui, se rompe el aside por la derecha */
  width: 100%;
}


main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;

  section {
    display: flex;
    flex-flow: column wrap;
    gap: 0.75em;

    article {
      width: 100%;
      background-color: white;
      border-radius: var(--borde);
      box-shadow: var(--sombra);
      font-size: 1.5em;

      a {
        text-decoration: none;
        color: black;
      }
    }

    article.producto {
      padding: 1em 0;
      text-align: center;
    }

    article#imagen {
      height: 30vh;
      background-image: url(../img/stock/snowy-montainious-valley.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

/* no est谩n pagadas las horas invertidas en meter esta mierda */
/* aside#boton-ayuda {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  margin: 1em 0;

  button {
    background-color: var(--lapis-lazuli);
    border: none;
    border-radius: var(--borde);
    color: white;
    box-shadow: var(--sombra);
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
    padding: 0.5em;

    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    a {
      color: white;
      text-decoration: none;
    }
  }

  button:hover {
    transform: scale(1.1) translateX(-5px);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  }
} */

footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-radius: var(--borde);
  background-color: white;
  box-shadow: var(--sombra);

  .metodos-pago {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 80%;
    padding-top: 1em;
  }

  .copyright {
    padding-bottom: 1em;
  }
}


/*
* ******************** *
* Dispositivos grandes *
*   Mayores que 992px  *
* ******************** *
*/

@media screen and (min-width: 992px) {

  body {
    padding: 0.5em 25%;
    width: 100%;
    gap: 0.75em;
  }

  main {

    section {
      /* display: flex; */
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 0 0.75em;

      article {
        width: 32%;
        font-size: 1em;
      }

      article.producto {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75em;
        font-weight: 700;
      }

      article#imagen {
        width: 100%;
      }
    }
  }
}